@tailwind base;
@tailwind components;
@tailwind utilities;

.br-2.animado{
    opacity: 0;
}

.br-1.animado{
    transform: rotate(45deg) translate(9px, 8px);
    transform-origin: 0% 100%;
}

.br-3.animado{
    transform: rotate(-45deg) translate(-6px, 8px);
    transform-origin: 0% 100%;
}

.skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
  }
  
  .skill-name{
    font-size: 18px;
    font-weight: 700;
    color: #f1f1f1;
    text-transform: uppercase;
    margin: 20px 0;
  }
  
  .skill-bar{
    height: 14px;
    background: #282828;
    border-radius: 3px;
  }
  
  .skill-per{
    height: 14px;
    background: #d13639;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
  }
  
  .skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
  }
  
  .skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
  }
  
  @keyframes fillBars{
    from{
      width: 0;
    }
    to{
      width: 100%;
    }
  }

  .circle-fill-transition {
    transition: stroke-dashoffset 0.5s ease;
}

.gradiente{
    background: linear-gradient(to right, rgb(243, 244, 246), rgb(209, 213, 219));
}

.darkGradiente{
  background: linear-gradient(to top, rgb(56, 189, 248), rgb(49, 46, 129));
}

.sky{
 color: linear-gradient(rgb(56, 189, 248), rgb(186, 230, 253));
}



#typed-text::after {
  content: '|'; /* Cursor intermitente */
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
}



